<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.besolutions.konsil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".personal_info.personal_info">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".my_consultations.my_consultations">

        </activity>
        <activity android:name=".compalint_details.compalint_details" />
        <activity android:name=".faq.faq"></activity>
        <activity android:name=".online_conversation.online_conversation" />
        <activity android:name=".request_online_conversation.request_online_conversation" />
        <activity android:name=".Consulation_result.consulation_result" />
        <activity android:name=".Consulation_request.consulation_request" />
        <activity android:name=".doctor_info.doctor_info" />
        <activity android:name=".doctor_list.doctor_list" />
        <activity android:name=".sign_up.sign_up" />
        <activity android:name=".fingerprint.fingerprint" />
        <activity android:name=".login.login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>