<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.besolutions.konsil">

    <application
        android:allowBackup="true"
        android:icon="@drawable/konzil_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/konzil_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".scenarios.scenario_policy.controller.policy"></activity>
        <activity android:name=".scenarios.scenario_terms_of_use.Controller.terms_of_use" />
        <activity android:name=".scenarios.scenario_payment.controller.payment" />
        <activity android:name=".scenarios.scenaio_settings.Controller.settings" />
        <activity android:name=".scenarios.scenario_welcome_tour.scenario_welcome_tour" />
        <activity android:name=".scenarios.scenario_make_complaint.Controller.make_a_complaint" />
        <activity android:name=".scenarios.scenario_be_a_doctor.Controller.be_a_doctor" />
        <activity android:name=".scenarios.scenario_mian_page.Controller.main_screen" />
        <activity android:name=".scenarios.scenario_splash_screen.Controller.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scenarios.scenario_personal_info.Controller.personal_info" />
        <activity android:name=".scenarios.scenario_my_consultations.Controlller.my_consultations" />
        <activity android:name=".scenarios.scenario_compalint_details.compalint_details.Controller.compalint_details" />
        <activity android:name=".scenarios.scenarios_faq.controller.faq" />
        <activity android:name=".scenarios.scenario_online_conversation.Controller.online_conversation" />
        <activity android:name=".scenarios.scenario_request_online_conversation.Controller.request_online_conversation" />
        <activity android:name=".scenarios.scenario_Consulation_result.Controller.Consulation_result.consulation_result" />
        <activity android:name=".scenarios.scenario_Consulation_request.Controller.consulation_request" />
        <activity android:name=".scenarios.scenario_doctor_info.Controller.doctor_info" />
        <activity android:name=".scenarios.scenario_doctor_list.Controller.doctor_list" />
        <activity android:name=".scenarios.scenario_sign_up.Controller.sign_up" />
        <activity android:name=".scenarios.secnario_fingerprint.Controller.fingerprint" />
        <activity android:name=".scenarios.scenario_login.Controller.login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <service android:name=".services_notifcation.services.fcmlistner">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.paypal.android.sdk.payments" />

</manifest>